.title {
  font-size: 48px;
  color: #ffffff;
  max-width: 433px;
  margin-top: 40px;
  line-height: 56px;
}

form {
  margin-top: 40px;
  max-width: 960px;
  display: flex;
  flex-flow: row wrap;
}

.form-field {
  width: 40%;
  margin: 5px;
  height: 72px;
  border: 0;
  padding: 0 24px;
  border-radius: 5px;
  font-weight: 100;
  color: #3a3a3a;
}

.btn {
  width: 40%;
  margin: 5px;
  height: 72px;
  border-radius: 5px;
  background: #394ff1;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.2s;
  border: none;
}

.btn:hover {
  background: #2f41c5;
}

.installments {
  margin-top: 40px;
  max-width: 100%;
}

.installments .installment {
  background: #2c2e43;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s;
  cursor: pointer;
  border: 2px solid #2c2e43;
}

.installments .installment:hover {
  border-color: #394ff1;
}

.installments .installment+.installment {
  margin-top: 16px;
}

.installments .installment .installment-periods {
  color: #fff;
  font-size: 18px;
}

.installments .installment .installment-addition {
  color: #fff;
  font-size: 18px;
}

.installments .installment .installment-total {
  color: rgb(0, 189, 72);
  font-size: 18px;
  font-weight: bold;
}