.title {
  font-size: 48px;
  color: #ffffff;
  max-width: 433px;
  margin-top: 80px;
  line-height: 56px;
}

form {
  margin-top: 40px;
  max-width: 960px;
  display: flex;
  flex-flow: row wrap;
}

.form-field {
  width: 40%;
  margin: 5px;
  height: 72px;
  border: 0;
  padding: 0 24px;
  border-radius: 5px;
  font-weight: 100;
  color: #3a3a3a;
}

.btn {
  width: 40%;
  margin: 5px;
  height: 72px;
  border-radius: 5px;
  background: #394ff1;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.2s;
  border: none;
}

.btn:hover {
  background: #2f41c5;
}
